.personal-info {
    width: 50%;
    margin: 0 auto;
    input {
        width: 100%;
    }

    .row {
        padding: 0.5em;
    }
}

.profile-picture {
    width: 50%;
    margin: 0 auto;
}
.update-btn {

    text-align: right;
    margin: 2em auto;
}