.contentHeading{
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: normal;
}

.ui-dialog-content{
    overflow: hidden;
}

.container{
    height: 400px;
    margin: 0 auto;
    width: 500px;
}


.info{
    margin-bottom: 10px
}
