.wrapper {
    height: calc(100vh - 56px - 42.04px);
    overflow: scroll;
    overflow-x: hidden;
}
.address-div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price-div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bolder;
    span {
        font-weight: 100;
    }
}
.title-div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hightlight-property {
    p-card {
        :first-child {
            background: deepskyblue;
        }
    }
}

p-card:hover{
    cursor: pointer;
}