<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">Agent Finder!</h2>
    <p class="lead">If you are considering selling your home and you want to sell it quickly, the best strategy is to hire a local listing agent who is experienced in your market area.</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <form>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="location">LOCATION</label>
              <input type="text" class="form-control" id="location" placeholder="City/Zipcode">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">SERVICE NEEDED</label>
              <select id="service" class="form-control">
                <option selected>Buying or Selling</option>
                <option>Buying a Home</option>
                <option>Selling a Home</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="hometype">HOME TYPE</label>
              <select id="service" class="form-control">
                <option selected>Any</option>
                <option>Houses</option>
                <option>Apartments</option>
                <option>Lots/Land</option>
                <option>Condo/co-ops</option>
                <option>Townhomes</option>
              </select>
            </div>
          </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;<label for="hometype">HOME PRICE</label>
            <div class="form-row">
              <div class="form-group col-md-3">
                <select id="min" class="form-control">
                  <option selected>Min</option>
                  <option>Min: $50K</option>
                  <option>Min: $75K</option>
                  <option>Min: $100K</option>
                  <option>Min: $200K</option>
                  <option>Min: $300K</option>
                  <option>Min: $400K</option>
                  <option>Min: $500K</option>
                  <option>Min: $1M</option>
                  <option>Min: $2M</option>
                  <option>Min: $5M</option>
                  <option>Min: $10M</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <select id="max" class="form-control">
                  <option selected>Max</option>
                  <option>Max: $75K</option>
                  <option>Max: $100K</option>
                  <option>Max: $200K</option>
                  <option>Max: $300K</option>
                  <option>Max: $400K</option>
                  <option>Max: $500K</option>
                  <option>Max: $1M</option>
                  <option>Max: $2M</option>
                  <option>Max: $5M</option>
                  <option>Max: $10M</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
</div>

