.no-properties-msg {
    text-align: center;
    height: calc(100vh - 56px);
    padding-top: 30vh;
    font-size: xx-large;
}

.filter-btn-wrapper {
    margin-top: 1.8em;
    text-align: center;
    button {
        width: 100%;
    }
}